.itemComponent {
  height: 15%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.itemBox {
  height: fit-content;
  width: fit-content;
  display: flex;
}

.itemName {
  justify-self: end;
  height: 50%;
}