.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

li {
  list-style: none;
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
}
/*############################################################*/
.page_button, .page_button_active{
  cursor: pointer;
  user-select: none;

  color: white;
  text-decoration: none;

  width: fit-content;
  height: fit-content;

  border: 1px solid var(--accent-colour);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.dots {
  user-select: none;

  color: white;
  text-decoration: none;

  width: fit-content;
  height: fit-content;

  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.page_button_hidden{
  padding: 5px;
  visibility: hidden;
  margin: 5px;
}

.page_button:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: var(--accent-colour);
  border: 1px solid var(--accent-colour);
  border-radius: 5px;
}

.page_button_active:hover {
  cursor: default;
}

/*############################################################*/

.page_link_active {
  color: var(--accent-colour);
}