.main {
  width: calc(70% - 20px);
  height: inherit;
  left: 0;
  padding: 10px;
  
}
  
.side {
  height: inherit;
  width: calc(30% - 20px);
  right: 0;
  padding: 10px;
}

.main_alt {
  width: calc(70% - 20px);
  padding: 10px;
}

.main_main {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}